name: Release
on:
  push:
    tags: [ "v*.*.*" ]

permissions:
  contents: write

jobs:
  buildBinaries:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Konan cache
        uses: ./.github/actions/konan-cache
        with:
          job-type: 'build'
      - name: Build binaries and packages
        run: ./gradlew :cli:assembleAll :cli:buildAllDebs :cli:buildChoco --stacktrace --no-configuration-cache
      - name: Create release notes
        run: ./gradlew getChangelog --no-header --no-summary
      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: |
            cli/build/bin/zip/*.zip
            cli/build/distributions/*.zip
            cli/build/distributions/*.deb
            build/release-notes.md
      - name: Upload Chocolatey artifacts
        uses: actions/upload-artifact@v4
        with:
          name: chocolatey-artifacts
          path: cli/build/distributions/chocolatey/
          retention-days: 1

  publishChoco:
    runs-on: windows-latest
    needs: buildBinaries
    steps:
      - name: Download Choco artifacts
        uses: actions/download-artifact@v4
        with:
          name: chocolatey-artifacts
      - name: Build and publish Choco package
        run: |
          choco pack
          choco push --source https://push.chocolatey.org/ --api-key $env:CHOCO_API_KEY
        env:
          CHOCO_API_KEY: ${{ secrets.CHOCOLATEY_API_KEY }}

  publish:
    runs-on: ubuntu-latest
    needs: buildBinaries
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Publish to Maven Central and Gradle Plugin Portal
        run: ./gradlew :core:publishAndReleaseToMavenCentral :gradle-plugin:publishPlugins --stacktrace --no-configuration-cache
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_CENTRAL_SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_CENTRAL_SIGNING_KEY_PASSWORD }}

  release:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Download release artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-artifacts
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body_path: build/release-notes.md
          files: |
            cli/build/bin/zip/*.zip
            cli/build/distributions/*.zip
            cli/build/distributions/*.deb
      - name: Trigger Debian repository workflow
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: publishRepo.yml
          repo: deezer/debian-repo
          ref: main
          token: ${{ secrets.DEBIAN_REPO_TOKEN }}

env:
  GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dkotlin.incremental=false -Dorg.gradle.project.kotlin.incremental.multiplatform=false -Dorg.gradle.project.kotlin.native.disableCompilerDaemon=true -Dorg.gradle.jvmargs="-Xmx12g -Dfile.encoding=UTF-8"
